.chart {
  display: grid;
  grid-template-columns: repeat(22, 1fr);
  grid-template-rows: repeat(10, 1fr);
  height: 30vh;
}

.chart__legend-Y {
  align-items: start;
  color: var(--primary-lighter);
  display: flex;
  flex-direction: column;
  font-size: 0.75rem;
  grid-column: 1 / span 3;
  grid-row: span 100;
  justify-content: space-between;
}

.chart__bar {
  border-radius: 8px 8px 0 0;
  font-size: 0.5rem;
}

.chart__bar--empty {
  grid-column: span 2;
}

.chart__bar:nth-child(3n + 2) {
  background: var(--primary);
}

.chart__bar:nth-child(3n + 3) {
  background: var(--secondary);
}

.chart__bar--1 {
  grid-row: span 100;
}

.chart__bar--2 {
  grid-row: span 50;
}

.chart__bar--3 {
  grid-row: span 100;
}

.chart__bar--4 {
  grid-row: span 100;
}

.chart__bar--5 {
  grid-row: span 100;
}

.chart__bar--6 {
  grid-row: span 100;
}

.chart__bar--7 {
  grid-row: span 100;
}

.chart__bar--8 {
  grid-row: span 100;
}

.chart__bar--9 {
  grid-row: span 100;
}

.chart__bar--10 {
  grid-row: span 100;
}

.chart__container,
.energy__level {
  display: grid;
  gap: 10px;
}

.energy__button {
  background: var(--secondary);
  border: none;
  border-radius: 5px;
  color: var(--white);
  font-size: 1rem;
  font-weight: 700;
  height: 48px;
  width: 315px;
}

.energy__button--75 {
  background: var(--secondary-lighter);
}

.energy__button--50 {
  background: var(--secondary-light);
  color: var(--secondary);
}

.energy__button--25 {
  background: var(--secondary-pale);
  color: var(--secondary);
}
