.journal {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
}

.journal__card {
  box-shadow: 0 2px 11px var(--primary-transparent);
  padding: 20px;
  width: 315px;
}

.journal h2 {
  color: var(--primary);
  font-size: 0.875rem;
  font-variant: small-caps;
  grid-column: span 2;
}

.journal span {
  color: var(--primary-lighter);
  display: flex;
  font-size: 0.875rem;
  grid-column: span 2;
  grid-row: span 2;
}

.journal__stars {
  display: flex;
  flex-direction: row-reverse;
  grid-column: span 2;
  justify-content: flex-end;
}

.journal__stars input {
  display: none;
}

.journal__star,
.journal__stars input:disabled {
  opacity: 0.2;
}

.journal__star--selected {
  opacity: 1;
}

.journal__rectangles {
  display: flex;
  flex-direction: row-reverse;
  grid-column: span 2;
  justify-content: space-around;
}

.journal__rectangles input {
  display: none;
}

.journal__rectangle {
  opacity: 0.2;
}

.journal__rectangle:hover,
.journal__rectangle:hover ~ label {
  opacity: 1;
}

.journal__label--motto,
.journal__label--notes {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
}
.journal__label--motto input,
.journal__label--notes textarea {
  border: 1px solid var(--primary-light);
  border-radius: 4px;
  font-size: 1rem;
  padding: 10px;
  resize: none;
}

.journal__label--motto input[disabled],
.journal__label--notes textarea[disabled] {
  background: var(--white);
  border: none;
  color: #193251;
  padding: 10px 0;
}

.journal__label--motto input[disabled]  {
  font-weight: 800;
}

.journal__button {
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  grid-column: span 1;
  padding: 16px 0;
  place-self: center;
  width: 150px;
}

.journal__button a {
  text-decoration: none;
  color: var(--white);
}

.journal__button--orange {
  background: var(--secondary);
  color: var(--white);
  font-weight: 700;
}

.journal__button--white {
  background: var(--white);
  color: var(--primary);
  font-weight: 600;
}
.journal__button--white a {
  color: var(--primary);
}
