.d-flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.br-t-6 {
  border-radius: 6px 6px 0 0;
}

.br-b-6 {
  border-radius: 0 0 6px 6px;
}

.mb-30 {
  margin-bottom: 30px;
}
