:root {
  --primary-dark: #193251;
  --primary: #7589a2;
  --primary-light: #e0e4e8;
  --grey: #f8f8f8;
  --secondary: #ff5a36;
  --secondary-lighter: #ff9c86;
  --secondary-light: #ffbdaf;
  --secondary-pale: #ffded7;
}
